<!DOCTYPE html>

	<title>Hotel Main Page</title>


<link rel="stylesheet" href="accommodation_new/accommodation1.css">
<link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">

  	<style type="text/css">
    body { padding-top: 70px; }
    .jumbotron {
      color: #fffffe;
      background: #ecf0f1;
    }
    .navbar-inverse {
      background: #2c3e50;  /*darkblue:  ; light orange:rgb(220, 70, 0), #dc4600*/
      color: white;
    }
    .navbar-inverse .navbar-brand, .navbar-inverse a{
      color:white;
    }
    .navbar-inverse .navbar-nav>li>a {
      color: white;
    }
    nav{
    	border: none;
    }
  </style>

	<nav class="navbar navbar-inverse navbar-fixed-top" style="display:none">
		<div class="container">
			<div class="navbar-header">
				<!-- The hamburger on the right -->
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
	        	<span class="sr-only">Toggle navigation</span>
	       		<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	      		</button>
	      		<a href="#############" class="navbar-brand">TravelPartner</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-nav-demo">
				<ul class="nav navbar-nav">
					<li><a href="############">Guide</a></li>
					<li><a href="############">Food</a></li>
					<li><a href="############">Transpotration</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="############">Sign Up</a></li>
					<li><a href="############">Login</a></li>
				</ul>
			</div>


		</div>
	</nav>
	<div style="text-align:center" class="container">
		 <div style="background-image: url(https://images.unsplash.com/photo-1504964030113-79ab61954f0e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=77728173ec3c2c7ed05cf2f68bad0da5&auto=format&fit=crop&w=1650&q=80)"， class="jumbotron" >
			 <!--the style of the word-->
   			<h2 style="font-family:Gamja Flower">   Finding your perfect hotel to live! </h2> <!-- <i class="fa fa-camera-retro"></i> -->
   			<p style="font-family:Gamja Flower"> Recommendation of the local hotel for you for a happier journey!</p>
  		 </div>
	<!--</div>-->


	<!--top 4 hotel-->
</br>
</br>
	<div>
		<h1 style="font-family:Gamja Flower">&nbsp;&nbsp;&nbsp;Top Hotel</h1>
	</div>
</br>
	<div class="container">
	<div class="row">
		<!--give data to each element of top hotel-->
		{{#each TopHotel}}
		<div class="col-xs-3" >
			<a href="{{url}}" class="thumbnail">
				<img src="{{image_source}}" style="height: 180px" alt="Charles River Inn">
			</a>
	<div class="caption">
		<!--the style of the word-->
					<h5 style="font-family:Jua">{{name}}</h5>
					<div style="font-family:Jua"class="text-muted">{{address}}</div>
					<br>
				</div>
		</div>

		{{/each}}
	</div>
	</div>

	<!-- Cheap hotel-->
	<div>
		<h1 style="font-family:Gamja Flower">&nbsp;&nbsp;&nbsp;Cheap Hotel</h1>
	</div>
</br>
	<div class="container">
	<div class="row">
    {{#each CheapHotel}}
	  <div class="col-xs-3" >
	    <a href="{{url}}" class="thumbnail">
	      <img src="{{image_source}}" style="height: 180px" alt="Charles River Inn">
	    </a>
	<div class="caption">
		<!--the style of the word-->
          <h5 style="font-family:Jua">{{name}}</h5>
          <div style="font-family:Jua"class="text-muted">{{address}}</div>
	        <br>
	      </div>
	  </div>

    {{/each}}
	</div>
	</div>


<!-- Family-friendly hotels -->
	<h1 style="font-family:Gamja Flower">&nbsp;&nbsp;&nbsp;Family-friendly Hotel</h1>
</br>
	<div class="container">
	<div class="row">
		{{#each Family_friendlyHotel}}
		<div class="col-xs-3" >
			<a href="{{url}}" class="thumbnail">
				<img src="{{image_source}}" style="height: 180px" alt="Charles River Inn">
			</a>
	<div class="caption">
		<!--the style of the word-->
					<h5 style="font-family:Jua">{{name}}</h5>
					<div style="font-family:Jua" class="text-muted">{{address}}</div>
					<br>
				</div>
		</div>

		{{/each}}
	</div>
	</div>
</br>
</br>
	<!-- Luxury hotels-->
	<h1 style="font-family:Gamja Flower">&nbsp;&nbsp;&nbsp;Luxury Hotel</h1>
</br>
	<div class="container">
	<div class="row">
		{{#each LuxuryHotel}}
		<div class="col-xs-3" >
			<a href="{{url}}" class="thumbnail">
				<img src="{{image_source}}" style="height: 180px" alt="Charles River Inn">
			</a>
	<div class="caption">
		<!--the style of the word-->
					<h5 style="font-family:Jua">{{name}}</h5>
					<div style="font-family:Jua" class="text-muted">{{address}}</div>
					<br>
				</div>
		</div>

		{{/each}}
	</div>
	</div>



<!-- Romantic hotels-->
<h1 style="font-family:Gamja Flower">&nbsp;&nbsp;&nbsp;Romantic Hotel</h1>
</br>
<div class="container">
<div class="row">
	<!--give data to each of the element-->
	{{#each RomanticHotel}}
	<div class="col-xs-3" >
		<a href="{{url}}" class="thumbnail">
			<img src="{{image_source}}" style="height: 180px" alt="Charles River Inn">
		</a>
	<div class="caption">
		<!--the style of the word-->
				<h5 style="font-family:Jua">{{name}}</h5>
				<div style="font-family:Jua" class="text-muted">{{address}}</div>
				<br>
			</div>
	</div>

	{{/each}}
</div>
</div>


<!--business hotel-->
<h1 style="font-family:Gamja Flower">&nbsp;&nbsp;&nbsp;Business Hotel</h1>
</br>
<div class="container">
<div class="row">
	{{#each BusinessHotel}}
	<div class="col-xs-3" >
		<a href="{{url}}" class="thumbnail">
			<img src="{{image_source}}" style="height: 180px" alt="Charles River Inn">
		</a>
	<div class="caption">
		<!--the style of the word-->
				<h5 style="font-family:Jua">{{name}}</h5>
				<div style="font-family:Jua" class="text-muted">{{address}}</div>
				<br>
			</div>
	</div>

	{{/each}}
</div>
</div>
</div>




<style>
img{
width:300px;
}
</style>



<!-- Top function-->
<button onclick="topFunction()" id="myBtn" type="button" class="btn btn-primary" style="position: fixed; bottom: 20px;
            right: 30px;">Top</button>

<script>
window.onscroll = function() {scrollFunction()};
function scrollFunction() {
if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20)
{
		document.getElementById("myBtn").style.display = "block";
}
		else {
		document.getElementById("myBtn").style.display = "none";
				 }
}
function topFunction() {
		 document.body.scrollTop = 0;
		 document.documentElement.scrollTop = 0;
						            }
</script>

<script src="http://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
