<link rel="stylesheet" href="/Comment/css/formstyle.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
<div id ="TG">
</div>
<div class="container">
<div style="background: #c2c2d6;height:200%; font-family: 'Gaegu', cursive; background-image: url('https://images.unsplash.com/photo-1501979376754-2ff867a4f659?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e8a08c6e9ecaf5fcfdd7cca7feff9ea3&auto=format&fit=crop&w=900&q=60')"， class="jumbotron" >
          <h1 style="text-algin:center; color:white"> Comments</h1> <!-- <i class="fa fa-camera-retro"></i> -->
        <p style="text-algin:center;color:white">Find friends with similar interests!</p>
    </div>




<table class="table table-hover">
    <tbody>
        {{#each comment}}
        <tr>
            <td>
                <h4><a class="text-info" href={{url}} target="_blank" style="color:#5c8cd5">{{title}}</h4></a>

                <div >
                    {{#each keyword}}
                    <code style="color:#5c8cd5">{{this}}</code>
                    {{/each}}
                </div>
            </td>
            <td>
              <!-- <img class="img-circle" src="{{userImg}}" height="50" width="50" >-->
            </td>
            <td>
                <h4>{{author}}</h4>
                 <div style="float: left;">{{modified_at}}</div>
            </td>
            <td>
                <h4>{{votes}}</h4>
                VOTES
            </td>

            <td>
                <h4>{{views}}</h4>
                VIEWS
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<button id="write" onClick="location.href='{{create}}'"  class="btn btn-primary" >Write a comment!</button>

<!--<button onclick="window.location='file:///Users/xiaohanzhang/Desktop/syr2018spring/686/TP/TravelPartner/app/client/app/TG/Write.html '"  class="btn btn-success" >Write a Guide!</button>-->
<button onclick="topFunction()" id="myBtn" type="button" class="btn btn-primary" style="position: fixed; bottom: 20px;right: 30px;">Top</button>
 </div>
<script>
    window.onscroll = function() {scrollFunction()};

    $(document).ready(function() {
      $('#write')
        .click(function(){
          if (localStorage.getItem('token')==null) {
        $('#sign-in-modal').modal('show');
            return false;
          }
          var url = $('#canwrite').val();
          location.href(url);
          return true;
      });
    });

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

</script>



<script src="http://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
