<link rel="stylesheet" href="/Comment/css/formstyle.css" />
<link href="https://fonts.googleapis.com/css?family=Cabin|Cute+Font|Dancing+Script|Dosis|Gaegu|Gamja+Flower|Great+Vibes|IBM+Plex+Mono|Quicksand|Satisfy|Titillium+Web" rel="stylesheet">

<div id ="TG">
</div>

</div>
<div class="container">
  <!--add banner-->
<div style="background: #c2c2d6;height:200%; font-family: 'Gaegu', cursive; background-image: url('https://images.unsplash.com/photo-1500381692567-10b711044b5d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a3b6a465c2df1be7e3b57355ef8cdc93&auto=format&fit=crop&w=2076&q=80')"， class="jumbotron" >
  <h1 style="color:white"> Comments </h1>
  <h2 style="color:white"> Find friends with similar interests!</h2>
</div>

<div class="row" style="background-color:white;">
<div class="col-sm-11" >
  <!--define comment structure-->
{{#with comment}}
<h4 id="title" style="color:#5c8cd5;">{{title}}</h4>
<div >
{{#each keyword}}
<code style="color:#5c8cd5">{{this}}</code>
{{/each}}
</div>
</div>
<!-- views part takes less part-->
<div class="col-sm-1" >
<h4 >{{views}}</h4>
VIEWS
</div>
<div class="col-sm-12" ><br><br></div>
<!-- avatar and the author contents are at the same row with grid system-->
<div class="col-sm-1" > <img class="img-circle" src="https://images.unsplash.com/photo-1484442944992-ae6aefae0e1e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=901d0b5a59c6c7af0415caa6b8c0b916&auto=format&fit=crop&w=2100&q=80" height="50" width="50" ></div>
<div class="col-sm-11" >
<div style="float: left;">by</div><div class="user">{{author}}</div>
<p>{{modified_at}}</p>
<!-- content of comment-->
<p style="font-size:110%;">{{commentBody}}</p>
</div>
<div class="col-sm-11" ></div>
<div class="col-sm-1" >
<div class="like" style="font-size:250%;">&#10084;</div>
<p >Like it!</p>
</div>
</div><br>


<!--replies to the comment-->
{{#each reply}}
<div class="row" style="background-color:white;">
<div class="col-sm-1" ><img class="img-circle" src="https://images.unsplash.com/photo-1517483141275-296bb15890b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f6fb898eac03ab9abd1137fa691ebe82&auto=format&fit=crop&w=1651&q=80" height="50" width="50" ></div>
  <div class="col-sm-11" >
    <div style="float: left;">by</div>
    <div class="user">{{replier}}</div>
    <p>{{replyTime}}</p>
    <p><em>{{replyBody}}</em></p>
  </div>
</div><br>
{{/each}}
{{/with}}

<!--content warning-->
<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Warning!
        </h4>
      </div>
      <div class="modal-body">
        The content should not be empty!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>



<br><br><h4><em>Please write a comment!</em></h4>
<!--reply form-->
<form method="post" action="" id="commentForm">
<div class="col-sm-12" ><textarea id="content" class="form-control" rows="2" placeholder="Please Input Your Comment!"></textarea><br></div>
</form>
<!--post button-->
<div class="col-sm-1" ><button  id="post" type="submit" class="btn btn-primary" >Post</button></div>

<br><br>
</div><br><br>

<button onclick="topFunction()" id="myBtn" type="button" class="btn btn-primary" style="position: fixed; bottom: 20px;right: 30px;">Top</button>

<script typet="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script>
//like button
$(function () {
  $(".like").click(function () {
    $(this).toggleClass('cs');
  })
})

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
document.getElementById("myBtn").style.display = "block";
} else {
document.getElementById("myBtn").style.display = "none";
}
}

function topFunction() {
document.body.scrollTop = 0;
document.documentElement.scrollTop = 0;
}


//post method
$('#post')
.click(function(){
  // if author doesn't sign-in, sign-in-modal will show
  if (localStorage.getItem('token')==null) {
    $('#sign-in-modal').modal('show');
    return false;
  }
    var content = $('#commentForm #content').val();
    var title= $('#title').val();
    axios.post('/c/reply', {
      user: window.localStorage.getItem('username'),
      content: content,
      title:title
    }).then(function (response) {
    console.log(response);
    //if post failure, warningModal will show
    if (response.status == 'fail') {
      $('#warningModal').modal('show')
      return false;
    } else if (response.data.status == 'success') {
        window.location = response.data.url;
    }
  })
  .catch(function (error) {
    console.log(error);
  });
  console.log(title);
  return false;
});

</script>



<script src="http://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
