<link rel="stylesheet" href="/Comment/css/formstyle.css" />

<div id ="TG">
</div>

</div>
<div class="container">
<div  class="jumbotron" >
<h2 class="headCenterText"> Ball, Beers, and Boston! </h2>
<h4 class="headCenterText"> by Mkilburn9, Cold Lake, Canada</h4>
</div>

<div class="row" style="background-color:white;">
<div class="col-sm-11" >
{{#with comment}}
<h4 style="color:#5c8cd5;">{{title}}</h4>
<div >
{{#each keyword}}
<code style="color:#5c8cd5">{{this}}</code>
{{/each}}
</div>
</div>
<div class="col-sm-1" >
<h4 >{{views}}</h4>
VIEWS
</div>
<div class="col-sm-12" ><br><br></div>
<div class="col-sm-1" ><img class="img-circle" src="{{titleImg}}" height="50" width="50" ></div>
<div class="col-sm-11" >
<div style="float: left;">by</div><div class="user">{{author}}</div>
<p>{{modified_at}}</p>
<p style="font-size:110%;">{{commentBody}}</p>
</div>
<div class="col-sm-11" ></div>
<div class="col-sm-1" >
<div class="like" style="font-size:250%;">&#10084;</div>
<p >Like it!</p>
</div>
</div><br>
{{/with}}


{{#each reply}}
<div class="row" style="background-color:white;">
<div class="col-sm-1" ><img class="img-circle" src="{{userImg}}" height="50" width="50" ></div>
<div class="col-sm-11" >
<div style="float: left;">by</div><div class="user">{{replier}}</div>
<p>{{replyTime}}</p>
<p><em>{{replyBody}}</em></p>
</div>
</div><br>
{{/each}}


<!--content warning-->
<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Warning!
        </h4>
      </div>
      <div class="modal-body">
        The content should not be empty!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>



<br><br><h4><em>Please write a comment!</em></h4>

<form method="post" action="" id="commentForm">
<div class="col-sm-12" ><textarea id="content" class="form-control" rows="2" placeholder="Please Input Your Comment!"></textarea><br></div>
</form>
<div class="col-sm-1" ><button  id="post" type="submit" class="btn btn-primary" >Post</button></div>

<br><br>
</div><br><br>

<button onclick="topFunction()" id="myBtn" type="button" class="btn btn-primary" style="position: fixed; bottom: 20px;right: 30px;">Top</button>

<script typet="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script>
$(function () {
  $(".like").click(function () {
    $(this).toggleClass('cs');
  })
})

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
document.getElementById("myBtn").style.display = "block";
} else {
document.getElementById("myBtn").style.display = "none";
}
}

function topFunction() {
document.body.scrollTop = 0;
document.documentElement.scrollTop = 0;
}



$('#post')
.click(function(){
  if (localStorage.getItem('token')==null) {
    $('#sign-in-modal').modal('show');
    return false;
  }
    var content = $('#commentForm #content').val();
    axios.post('/c/new', {
      content: content
    }).then(function (response) {
    console.log(response);
    if (response.status == 'fail') {
      $('#warningModal').modal('show')
      return false;
    } else {
      location.href(response.xxxx);
    }
  })
  .catch(function (error) {
    console.log(error);
  });
  console.log(title);
  return false;
});

</script>



<script src="http://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
