
<link rel="stylesheet" href=food.css>
<link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
	  	<style type="text/css">
	    body { padding-top: 70px; }
	    .jumbotron {
	      color: #fffffe;
	      background: #ecf0f1;

	    }
	    .navbar-inverse {
	      background: #2c3e50;  /*darkblue:  ; light orange:rgb(220, 70, 0), #dc4600*/
	      color: white;
	    }
	    .navbar-inverse .navbar-brand, .navbar-inverse a{
	      color:white;
	    }
	    .navbar-inverse .navbar-nav>li>a {
	      color: white;
	    }

	    nav{
	    	border: none;
	    }

	  </style>
	</head>
	<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" style="display:none">
		<div class="container">
			<div class="navbar-header">
				<!-- The hamburger on the right -->
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
	        	<span class="sr-only">Toggle navigation</span>
	       		<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	      		</button>
	      		<a href="#############" class="navbar-brand">TravelPartner</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-nav-demo">
				<ul class="nav navbar-nav">
					<li><a href="############">Guide</a></li>
					<li><a href="############">Food</a></li>
					<li><a href="############">Transpotration</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="############">Sign Up</a></li>
					<li><a href="############">Login</a></li>
				</ul>
			</div>


		</div>
	</nav>
	<div style="text-align:center" class="container">
		 <div style="background-image: url(http://img.taopic.com/uploads/allimg/140826/240375-140R60JP775.jpg)"， class="jumbotron" >
   			<h2 style="font-family:Gamja Flower">   Finding your perfect restaurant and popular foods </h2> <!-- <i class="fa fa-camera-retro"></i> -->
   			<p style="font-family:Gamja Flower"> Recommendation of the local restaurants and foods for you for a happier journey!</p>
  		 </div>
	<!--</div>-->

<br/>
<br/>
	<h1 style="font-family:Gamja Flower">&nbsp;&nbsp;&nbsp;Local Food Recommendation</h1>
</br>
<!-- section for the local food -->
	<div class="well">
	        <div class="row">
						{{#each localFood}}
	                        <div class="col-xs-6 col-sm-4 col-md-2 headText">
	                <a class="thumbnail">
	                    <img src="{{image}}" style="height: 220px;">
	                    </a>
											<div style="font-family:Jua"class="text-muted">{{name}}</div>
	                </div>
	                      {{/each}}
	                    </div>
	    </div>

	<!-- Dinner-->
</br>
</br>
	<div>
		<h1 style="font-family:Gamja Flower"> &nbsp;&nbsp;&nbsp;Dinner</h1>
	</div>
</br>
	<div class="container">
	<div class="row">
		{{#each dinner}}
	  <div class="col-xs-3 headText" >
	    <a href="{{url}}" class="thumbnail">
	      <img src="{{image}}" style="height: 180px" alt="The Breakfast Club">
	    </a>
	<div class="caption">
	        <h5 style="font-family:Jua">{{name}}</h5>
					<br/>
					<!--the style of the word-->
					<div style="font-family:Jua" class="text-muted">{{location}}</div>
					<div style="font-family:Jua" class="text-muted">Boston, America</div>
	        <br>
	      </div>
	  </div>
{{/each}}
	    </div>
	  </div>



<!-- Lunch -->
</br>
</br>
	<h1 style="font-family:Gamja Flower"class=headText>&nbsp;&nbsp;&nbsp;Lunch</h1>
</br>
	<div class="container">
	<div class="row">
		{{#each lunch}}
		<div class="col-xs-3 headText" >
			<a href="{{url}}" class="thumbnail">
				<img src="{{image}}" style="height: 180px" alt="The Breakfast Club">
			</a>
	<div class="caption">
					<h5 style="font-family:Jua">{{name}}</h5>
					<br/>
					<div style="font-family:Jua" class="text-muted">{{location}}</div>
					<div style="font-family:Jua" class="text-muted">Boston, America</div>
					<br>
				</div>
		</div>
	{{/each}}
	</div>
	</div>

	<!-- Breakfast-->
</br>
</br>
	<h1 style="font-family:Gamja Flower" class=headText>&nbsp;&nbsp;&nbsp;Breakfast</h1>
	</br>
	<div class="container">
	<div class="row">
		<!--each row has for breakfast-->
		{{#each breakfast}}
		<div class="col-xs-3 headText" >
			<a href="{{url}}" class="thumbnail">
				<img src="{{image}}" style="height: 180px" alt="The Breakfast Club">
			</a>
	<div class="caption">
		<!--the style of the word-->
					<h5 style="font-family:Jua">{{name}}</h5>
					<br/>
					<div style="font-family:Jua" class="text-muted">{{location}}</div>
					<div style="font-family:Jua" class="text-muted">Boston, America</div>
					<br>
				</div>
		</div>
	{{/each}}

	</div>
	</div>

<!-- Cheap eat-->
</br>
</br>
	<h1 style="font-family:Gamja Flower" class=headText>&nbsp;&nbsp;&nbsp;Cheapeat</h1>
	</br>
	<div class="container">
	<div class="row">
		{{#each cheapEat}}
		<div class="col-xs-3 headText" >
			<a href="{{url}}" class="thumbnail">
				<img src="{{image}}" style="height: 180px" alt="The Breakfast Club">
			</a>
	<div class="caption">
					<h5 style="font-family:Jua">{{name}}</h5>
					<br/>
					<!--the style of the word-->
					<div style="font-family:Jua" class="text-muted">{{location}}</div>
					<div style="font-family:Jua" class="text-muted">Boston, America</div>
					<br>
				</div>
		</div>
	{{/each}}

	</div>
	</div>


<!--mid range-->
</br>
</br>
	<h1 style="font-family:Gamja Flower" class=headText>&nbsp;&nbsp;&nbsp;mid range</h1>
	</br>
	<div class="container">
	<div class="row">
		{{#each midRange}}
		<div class="col-xs-3 headText" >
			<a href="{{url}}" class="thumbnail">
				<img src="{{image}}" style="height: 180px" alt="The Breakfast Club">
			</a>
	<div class="caption">
					<h5 style="font-family:Jua">{{name}}</h5>
					<br/>
					<!--the style of the word-->
					<div style="font-family:Jua" class="text-muted">{{location}}</div>
					<div style="font-family:Jua" class="text-muted">Boston, America</div>
					<br>
				</div>
		</div>
	{{/each}}

	</div>
	</div>

<!-- Cheap eat-->
<!--image style-->
<style>
img{
width:300px;
}

</style>

<!-- Top function-->
<button onclick="topFunction()" id="myBtn" type="button" class="btn btn-primary" style="position: fixed; bottom: 20px;
            right: 30px;">Top</button>

<!--the function to move to the beginning of the website-->
<script>
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20)
{
		document.getElementById("myBtn").style.display = "block";
}
		else {
		document.getElementById("myBtn").style.display = "none";
				 }
}

function topFunction() {
		 document.body.scrollTop = 0;
		 document.documentElement.scrollTop = 0;
						            }
</script>

<script src="http://code.jquery.com/jquery-3.3.1.js"></script>

