
	<link rel="stylesheet" href=food.css>
	<link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
	  	<style type="text/css">
	    body { padding-top: 70px; }
	    .jumbotron {
	      color: #fffffe;
	      background: #ecf0f1;

	    }
	    .navbar-inverse {
	      background: #2c3e50;  /*darkblue:  ; light orange:rgb(220, 70, 0), #dc4600*/
	      color: white;
	    }
	    .navbar-inverse .navbar-brand, .navbar-inverse a{
	      color:white;
	    }
	    .navbar-inverse .navbar-nav>li>a {
	      color: white;
	    }

	    nav{
	    	border: none;
	    }

	  </style>
	<div style="text-align:center" class="container">
		 <div style="background-image: url(http://img.taopic.com/uploads/allimg/140826/240375-140R60JP775.jpg)"， class="jumbotron" >
			 <!--the style of the word-->
			 <h2 style="font-family:Gamja Flower">   Finding your perfect restaurant and popular foods </h2> <!-- <i class="fa fa-camera-retro"></i> -->
			 <p style="font-family:Gamja Flower"> Recommendation of the local restaurants and foods for you for a happier journey!</p>
		 </div>

<br/>
<br/>
{{#with restaurant}}
<!--the style of the word-->
<h2 style="font-family:Jua"> &nbsp;&nbsp;&nbsp;{{name}}</h2>
<div style="font-family:Jua" class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Addr:{{location}}&nbsp;&nbsp;Tel:{{phone}}
	&nbsp;&nbsp;E-mail:{{email}}
	</div>
<br/>
<br/>
<!--the style and the set of three pictures-->
		 <style>
				 .flex-container
				 {
					 display: flex;
					 flex-direction: column;
					 flex-wrap: wrap;
					 height: 440px;
					 width: 660px;
				 }

					 .flex-container img
					 {
						 box-sizing: border-box;
						 padding: 1px;
						 margin: 1px;
						 width: 340px;
						 height: 218px;
					 }

						 .flex-container img:first-child
						 {
							 height: 438px;
							 width:800px;
						 }
		 </style>

<center>
		 <div style="text-align: center">
		 <section class="flex-container headText">
			 {{#each image}}
			 <img src="{{this}}">


			 {{/each}}

		 </section>
	 </div>
</center>
</br>
</br>
<h2 style="font-family:Jua">Description</h2>
<p style="font-family:Jua"class="text-muted">{{descript}}</p>
{{/with}}
  </div>
  
	<!-- Top function-->
	<button onclick="topFunction()" id="myBtn" type="button" class="btn btn-primary" style="position: fixed; bottom: 20px;
	            right: 30px;">Top</button>

	<script>
	window.onscroll = function() {scrollFunction()};

	function scrollFunction() {
	if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20)
	{
			document.getElementById("myBtn").style.display = "block";
	}
			else {
			document.getElementById("myBtn").style.display = "none";
					 }
	}

	function topFunction() {
			 document.body.scrollTop = 0;
			 document.documentElement.scrollTop = 0;
							            }
	</script>
	<script src="http://code.jquery.com/jquery-3.3.1.js"></script>
