<link rel="stylesheet" href="/TG/css/formstyle.css" />
<link href="https://fonts.googleapis.com/css?family=Cabin|Cute+Font|Dancing+Script|Dosis|Gaegu|Gamja+Flower|Great+Vibes|IBM+Plex+Mono|Quicksand|Satisfy|Titillium+Web" rel="stylesheet">

<div id ="TG">
</div>

</div>
<div class="container">

<!--define the banner and the title, user information are included in the banner-->
{{#with guide}}
<div style="background-image: url({{banner}})"， class="jumbotron",style="height:200%;" >
   <h2 style="text-align: center;font-family: 'Gaegu', cursive;" > {{title}} </h2>
  <h2 style="text-align: center;font-family: 'Gaegu', cursive;"> by {{user}}</h2>
</div>

<div style="float: left;color:#5c8cd5"> Feature</div>
<div class="user">
<!-- tags will show-->
  <code style="color:#5c8cd5">{{tag}}</code>
</div>
<p>{{updated_at}}</p>
<p style="font-size:18px;font-family:Arial;text-indent:20px;">{{content}}</p>
{{/with}}

</div>

<!-- top button toget to the top of the website-->
<button onclick="topFunction()" id="myBtn" type="button" class="btn btn-primary" style="position: fixed; bottom: 20px;right: 30px;">Top</button>
<script>
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
document.getElementById("myBtn").style.display = "block";
} else {
document.getElementById("myBtn").style.display = "none";
}
}

function topFunction() {
document.body.scrollTop = 0;
document.documentElement.scrollTop = 0;
}

</script>
