<link rel="stylesheet" href="/TG/css/formstyle.css" />

<div id ="TG">
</div>

</div>
<div class="container">


{{#with guide}}
<div class="jumbotron" >
 <h2 class="headCenterText"> {{title}} </h2>
  <h4 class="headCenterText"> by {{user}}</h4>
</div>

<div style="float: left;"> Feature</div>
<div class="user">
  {{#each tags}}
  <code style="color:#5c8cd5">{{this}}</code>
  {{/each}}
</div>
<p>{{updated_at}}</p>
<p style="font-size:19px">{{content}}</p>
{{/with}}

</div>


<button onclick="topFunction()" id="myBtn" type="button" class="btn btn-primary" style="position: fixed; bottom: 20px;right: 30px;">Top</button>
<script>
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
document.getElementById("myBtn").style.display = "block";
} else {
document.getElementById("myBtn").style.display = "none";
}
}

function topFunction() {
document.body.scrollTop = 0;
document.documentElement.scrollTop = 0;
}


</script>



<script src="http://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
