<link rel="stylesheet" href="/TG/css/formstyle.css" />
<link href="https://fonts.googleapis.com/css?family=Cabin|Cute+Font|Dancing+Script|Dosis|Gaegu|Gamja+Flower|Great+Vibes|IBM+Plex+Mono|Quicksand|Satisfy|Titillium+Web" rel="stylesheet">
<div id ="TG">
</div>




<div class="container">
  <!-- define banner-->
  <div style="background: #c2c2d6;height:200%; font-family: 'Gaegu', cursive; background-image: url('https://images.unsplash.com/photo-1505485493171-fde25bd8313f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1dc63e2028486fd5ca6648ab0a239ce1&auto=format&fit=crop&w=2100&q=80')"， class="jumbotron" >
      <h1  style="text-align: center;font-family: 'Gaegu', cursive;color:white"> {{place}} </h1>
      <h2 style="text-align: center;font-family: 'Gaegu', cursive;color:white"> A bunch of travel guides give useful recommendations for you!</h2>
  </div>
    <div>
      <!-- each guide object contains several members-->
        {{#each guide}}
        <div class="row">
            <div class="col-xs-6 ">
              <!--image of the travel guide-->
                <img src="{{image}}" alt="Lights" style="width:80%;">
                    </div>
            <div class="col-xs-6 ">
              <!-- user can get into specified guide website by click the title-->
                <br><br><p class="paragraph text-info"><a href={{url}} target="_blank">{{title}}</a></p>
                <!-- in the div, uploaded time, username, tags will be included-->
                <div style="float: left;">by</div><div class="user">{{user}} </div>
                <p>{{updated_at}}</p>
                <div>Votes:{{votes}}</div>
                <div style="float: left;" class="text-info">Feature:</div>
                {{#each tags}}
                <div>{{this}}</div>
                {{/each}}
                <br>
                <!-- user can click the view more and also jump into the new website of specific guide-->
                <p><em>{{summary}}<a class="text-info" href={{url}} target="_blank">...view more.</em></a></p>
            </div>
        </div>
        {{/each}}
    </div>


  <!--  <div id="canWrite">{{create}}</div>-->

    <button id="write" onClick="location.href='{{create}}'"  class="btn btn-primary" >Write a Guide!</button>
    <button onclick="topFunction()" id="myBtn" type="button" class="btn btn-primary" style="position: fixed; bottom: 20px;right: 30px;">Top</button>
  <!--  <buttom id="write" class="btn btn-primary" >Write a Guide!</button>-->


</div>
<script>

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }



    </script>
