<link rel="stylesheet" href="/TG/css/formstyle.css" />

<div id ="TG">
</div>


<div style="background-image: url({{banner}})"， class="jumbotron",style="height:200%;" >
    <h2 class="headCenterText"> {{place}} </h2>
    <h4 class="headCenterText"> A bunch of travel guides give useful recommendations for you!</h4>
</div>

<div class="container">

    <div>
        {{#each guide}}
        <div class="row">
            <div class="col-xs-6 ">
                <img src="{{image}}" alt="Lights" style="width:80%;">
                    </div>
            <div class="col-xs-6 ">
                <br><br><p class="paragraph text-info"><a href={{url}} target="_blank">{{title}}</a></p>
                <div style="float: left;">by</div><div class="user">{{user}} </div>
                <p>{{updated_at}}</p>
                <div>Votes:{{votes}}</div>
                <div style="float: left;" class="text-info">Feature:</div>
                {{#each tags}}
                <div>{{this}}</div>
                {{/each}}
                <br>
                <p><em>{{summary}}<a class="text-info" href={{url}} target="_blank">view more.</em></a></p>
            </div>
        </div>
        {{/each}}
    </div>


  <!--  <div id="canWrite">{{create}}</div>-->

    <button id="write" onClick="location.href='{{create}}'"  class="btn btn-success" >Write a Guide!</button>
    <button onclick="topFunction()" id="myBtn" type="button" class="btn btn-primary" style="position: fixed; bottom: 20px;right: 30px;">Top</button>
  <!--  <buttom id="write" class="btn btn-primary" >Write a Guide!</button>-->


</div>
<script>
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    

/*    $(document).ready(function() {
      $('#write')
        .click(function(){
          if (localStorage.getItem('token')==null) {
            $('#sign-in-modal').modal('show');
            return false;
          }
          var url = $('#canwrite').val();
          location.href(url);
          return true;
      });
    });*/

    </script>
