<link rel="stylesheet" href="/TG/css/formstyle.css" />
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <!-- The hamburger on the right -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#############" class="navbar-brand">TravelPartner</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-nav-demo">
            <ul class="nav navbar-nav">
                <li><a href="############">Guide</a></li>
                <li><a href="############">Food</a></li>
                <li><a href="############">Accomodation</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="############">Sign Up</a></li>
                <li><a href="############">Login</a></li>
            </ul>
        </div>

    </div>
</nav>
<div id ="TG">
</div>
<div class="container">
    <div class="jumbotron">
        <h1> TravelGuide</h1> <!-- <i class="fa fa-camera-retro"></i> -->
        <p>A bunch of travel guides give useful recommendations for you!</p>
    </div>


    <h1 class="headText">Boston</h1><br><br>

    <div>
        {{#each guide}}
        <div class="row">
            <div class="col-xs-6 ">
                <img src="{{image}}" alt="Lights" style="width:80%;">
                    </div>
            <div class="col-xs-6 ">
                <br><br><p class="paragraph text-info">{{title}}</p>
                <div style="float: left;">by</div><div class="user">{{user}}</div>
                <p>{{updated_at}}</p>
                <div style="float: left;" class="text-info">Feature:</div>
                {{#each tags}}
                <div>{{this}}</div>
                {{/each}}
                <br>
                <p><em>{{summary}}<a class="text-info" href={{url}} target="_blank">view more.</em></a></p>
            </div>
        </div>
        {{/each}}
    </div>


<p><a class="text-info" href={{create}} target="_blank">view more.</a></p>
<!--    <button onClick="location.href='{{create}}'"  class="btn btn-success" >Write a Guide!</button>-->
    <button onclick="topFunction()" id="myBtn" type="button" class="btn btn-primary" style="position: fixed; bottom: 20px;right: 30px;">Top</button>



</div>
<script>
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}

    </script>
